:root {
  /* colors */
  --color-primary: #cfa069;
  --color-primary-light: #ebcf9d;
  --color-success: #4cad6e;
  --color-danger: #f2686e;
  --color-warning: #ffb830;

  /* colors */
  --color-primary-fg: #fff;
  --color-primary-light-fg: #fff;
  --color-success-fg: #000;
  --color-danger-fg: #000;
  --color-warning-fg: #000;

  /* globals */
  --global-radius: 0.325em;
  --global-padding: 0.5em;

  /* input */
  --input-radius: 0.325em;
  --input-padding-y: 0.5em;
  --input-padding-x: 0.75em;

  /* button */
  --button-radius: 0.325em;
  --button-padding-y: 0.5em;
  --button-padding-x: 0.75em;
}

a:link {
  text-decoration: none;
}
